@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="card">
    <h1>Olá, sou o Yango</h1>
</div>


@code{

    private void Adicionar()
    {
        
    }
    

}